<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:240px;margin:auto;font-weight:bold ;margin-top:4%;" id='mySidebar'><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-16"><b>Admin<br>Dashboard</b></h3>
  </div>
  <div class="w3-bar-block w3-padding-32">
    <a href="/admin/index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style = "text-decoration:none;">Home</a>
    <a href="/products" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"style = "text-decoration:none;">Products</a>
    <a href="orders" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Orders</a>
    <a href="/categories" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Categories</a>
    <a href="/admins" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Users</a>
  </div>
</nav>