<br><br>
<h1>Hello</h1>
<%@cart.each do |cart| %>
Product Id = <%= cart.product.id%>
Order Id = <%= cart.order.id%>
 Cart Id = <%= cart.id%>
 <br>
 <hr>

<%end%>

<hr><hr>

<%# <%@product .each  do |product|%> %>
